<footer>
    <div class='container'>
        <div class="card">
            <div class="heading text-center">
                <div class="head1">Made By!</div>
                <p class="bdr"></p>
            </div>
            <div class="card-body">
                <div class="row m-0 pt-5">
                    <div class="card col-md-12">
                        <div class="card-content">
                            <div id="bb">
                                <img src="/public/images/bb.png" alt="">
                                <h5 style="font-family: 'Russo One', sans-serif;letter-spacing: 3px;margin-top: 25px;margin-left: 10px;"><a href="https://kondashivaradhan.github.io/gamesite"> BlazingBane </a></h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer row m-0">
                <div style="font-size: 28px;letter-spacing: 3px;">
                    <a href="https://www.youtube.com/channel/UCPFM_Ug62Ei3CUfvquG4KOg"><i class="fa fa-youtube" aria-hidden="true"></i> </a>
                    <a href="https://www.facebook.com/BlazingBane">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.instagram.com/blazing_bane/">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div>
                    <p> <small class="follow-text">@2021</small> <label class="footer-right"></label> </p>
                </div>
            </div>
        </div>
    </div>
</footer>