<footer>
    <div class='container'>
        <div class="card">
            <div class="heading text-center">
                <div class="head1">Made By!</div>
                <p class="bdr"></p>
            </div>
            <div class="card-body">
                <div class="row m-0 pt-5">
                    <div class="card col-md-12">
                        <div class="card-content">
                            <div id="bb">
                                <img src="/public/images/bb.png" alt="">
                                <h3 style="font-family: 'Russo One', sans-serif;letter-spacing: 3px;margin-top: 20px;margin-left: 10px;">BlazingBane</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer row m-0">
                <p> <label>  </label>BlazingBane</p>
                <div>
                    <p> <small class="follow-text">@2021</small> <label class="footer-right"></label> </p>
                </div>
            </div>
        </div>
    </div>
</footer>