<nav>
    <div style="height: 100%;">
        <ul>


            <li>
                <a href="/">
                    <div class="dot" id="home"></div>
                </a>
            </li>


        </ul>
    </div>
</nav>