<nav>
    <div style="height: 100%;">
        <ul>

            <li>
                <a href="/apex">
                    <div class="dot" id="apex"></div>
                </a>
            </li>
            <li>
                <a href="/r6s">
                    <div class="dot" id="r6"></div>
                </a>
            </li>
            <li>
                <a href="/">
                    <div class="dot" id="home"></div>
                </a>
            </li>
            <li>
                <a href="http://kondashivaradhan.github.io/gamesite/pc">
                    <div class="dot" id="bf"></div>
                </a>
            </li>

            <li>
                <a href="/discord">
                    <div class="dot" id="dis"></div>
                </a>
            </li>

        </ul>
    </div>
</nav>