<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="icon" href="https://image.shutterstock.com/image-vector/gamepad-controller-icon-260nw-707536078.jpg">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- links -->
    <script src="/public/script/script.js"></script>
    <link rel="stylesheet" href="/public/css/main.css">
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body onload="loaded()">

    <div id="overlap"></div>
    <div id="options">
        <div onscroll="ed()" id="shade">
            <div style="background: url('https://media2.giphy.com/media/y0NFayaBeiWEU/200.gif');background-size: cover;background-position: center;">

            </div>
            <!-- <div class="pane" id="bfv">
                <div>
                    <div class="logo" style="background: url('/public/images/bf.gif');background-size: cover;">
                    </div>
                    <div id="contains">
                        <h4>
                            Stats for Battlefield V
                        </h4>
                        <button type="button" name="" id="" class="btn btn-primary">View Stats</button>

                    </div>
                </div>

            </div> -->
            <div class="pane" style="background:linear-gradient(rgba(0, 0, 0, 0.335), rgba(0, 0, 0, 0.418)), url('/public/images/r6m.jpg');background-size: cover;" id="d1">
                <div>
                    <div class="logo" style="background: url('/public/images/r6.gif');background-size: cover;background-position: center;">
                    </div>
                    <div id="contains">
                        <h4>
                            Stats for R6 Siege
                        </h4>
                        <button type="button" name="" id="" class="btn btn-primary">View Stats</button>

                    </div>
                </div>

            </div>
            <div class="pane" style="background:linear-gradient(rgba(0, 0, 0, 0.335), rgba(0, 0, 0, 0.418)), url('/public/images/apexm.png');background-size: cover;" id="d2">
                <div>
                    <div class="logo" style="background: url('/public/images/apex.gif');background-size: cover;">
                    </div>
                    <div id="contains">
                        <h4>
                            Stats for Apex Legends
                        </h4>
                        <button type="button" name="" id="" class="btn btn-primary">View Stats</button>

                    </div>
                </div>
            </div>
            <div class="pane" style="background: linear-gradient(rgba(0, 0, 0, 0.335), rgba(0, 0, 0, 0.418)),url('/public/images/discord.jpg');background-size: cover;">
                <div>
                    <div class="logo" style="background: url('/public/images/discord.gif');background-size: cover;background-position: center;">
                    </div>
                    <div id="contains">
                        <h4>
                            Discord Server
                        </h4>
                        <button type="button" name="" id="" class="btn btn-primary">Join Server</button>

                    </div>
                </div>
            </div>
            <div class="pane" style="background:linear-gradient(rgba(0, 0, 0, 0.335), rgba(0, 0, 0, 0.418)), url('/public/images/PC.jpg');background-size: cover;background-position: center;">
                <div>
                    <div class="logo" style="background: url('/public/images/pclogo.png');background-size: cover;background-position: center;">
                    </div>
                    <div id="contains">
                        <h4>
                            Setup Tour
                        </h4>
                        <button type="button" name="" id="" class="btn btn-primary">Power ON</button>

                    </div>
                </div>
            </div>
            <div style="background: url('https://media2.giphy.com/media/y0NFayaBeiWEU/200.gif');background-size: cover;">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function() {
            function scrollHorizontally(e) {
                e = window.event || e;
                var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
                document.getElementById('shade').scrollLeft -= (delta * 760);
                e.preventDefault();
            }
            if (document.getElementById('shade').addEventListener) {
                // IE9, Chrome, Safari, Opera
                document.getElementById('shade').addEventListener('mousewheel', scrollHorizontally, false);
                // Firefox
                document.getElementById('shade').addEventListener('DOMMouseScroll', scrollHorizontally, false);
            } else {
                // IE 6/7/8
                document.getElementById('shade').attachEvent('onmousewheel', scrollHorizontally);
            }
        })();
    </script>
</body>

</html>