<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R6</title>
    <link rel="icon" href="https://img1.cgtrader.com/items/2018582/0dd527fc09/3d-printed-rainbow-six-siege-operator-icons-3d-model-stl.jpg">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="/public/css/head.css">
    <link rel="stylesheet" href="/public/css/search.css">
    <link rel="stylesheet" href="/public/css/auto.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="/fonts/fontawesome-free-5.3.1-web/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="undefined" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/4afcb75146.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx" crossorigin="anonymous">
    <!-- parallaxjs -->
    <script src="/public/script/parallax.js"></script>
    <!-- autocomplete -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            var availableTags = <%- JSON.stringify(an) %>

            console.log(availableTags);

            $("#tags").autocomplete({
                source: availableTags
            });
        });

        function audio() {
            var audio = document.getElementById('music')
            var acon = document.getElementById('audiocon')
            if (audio.paused) {
                console.log('paused');
                audio.play();
                acon.className = "fa fa-volume-up";
            } else {
                console.log('playing');
                audio.pause();
                acon.className = "fa fa-volume-off";
            }
        }
        $(document).ready(function() {
            var audio = document.getElementById("music");
            audio.volume = 0.32;
        });
    </script>
</head>

<body>
    <%- include('header'); -%>
        <audio autoplay id="music" loop src="/public/music/r6.mp3"></audio>
        <div id="audio" onclick="audio()">
            <i id="audiocon" class="fa fa-volume-off" aria-hidden="true"></i>
        </div>
        <div id="test">
            <iframe width='100' id="game" height='100' src="https://www.youtube.com/embed/GocmmU0Ehvw?&theme=dark&autoplay=1&loop=1&keyboard=1&autohide=1&modestbranding=1&fs=0&rel=0&start=8&end=120&iv_load_policy=3&mute=1&playlist=GocmmU0Ehvw" frameborder="0"></iframe>

        </div>
        <div id="mob">
            <div class="bg"></div>
            <div class="bg bg2"></div>
            <div class="bg bg3"></div>
        </div>
        <div class="content">
            <div id="stuff">
                <h3 style="letter-spacing: 2px;">UBISOFT ID</h3>
                <div class="ui-widget">
                    <input id="tags" placeholder="e.g BlazingBane">
                </div>
                <a id="r6a" href='' onclick="
                if( !$('#tags').val() ) {
                    
                }
                else{
                    this.href='r6/'+document.getElementById('tags').value
                }
              ">
                    <br>
                    <button type="button" name="" id="" class="btn btn-dark">Search <i class="fa fa-search" aria-hidden="true"></i> </button>
                </a>

            </div>
            <!-- <div id="stuff" style="width: auto;letter-spacing: 2px;padding: 15px">
                <i style="color: rgb(221, 103, 7);" class="fas fa-poo"></i>
                <h3>UBISOFT is heavily rate limiting their API. We're trying to figure out a way around it</h3>
                <h6 style="position: relative;top:10px;"> ~ADMIN</h6>
            </div> -->
        </div>
</body>

</html>