<div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">IDP IELTS Australia</h4>
    </div>
    <div class="modal-body">
        <div id="print-me">

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        <dt>
                    Candidate Name:
                </dt>
                        <dd>
                            SHIVARADHAN KONDA
                        </dd>
                        <dt>
                    CandidateNumber
                </dt>

                        <dd>
                            005415
                        </dd>
                        <dt>CentreNumber</dt>
                        <dd>IN525</dd>
                        <dt>TestDate</dt>
                        <dd>19/02/2021</dd>
                    </dl>
                </div>
            </div>

            <div class="alert alert-secondary">
                <p><strong>Please contact your test centre for a remark request.</strong></p>
            </div>

        </div>
        <div class="row" style="padding-bottom: 10px;">
            <div class="col-sm-10">
                <div class="col-sm-2">
                    <div style="font-weight: bold">Overall</div>
                    <div>6.5
                    </div>
                </div>
                <div class="col-sm-2">
                    <div style="font-weight: bold">Listening</div>
                    <div>6.0
                    </div>
                </div>
                <div class="col-sm-2">
                    <div style="font-weight: bold">Reading</div>
                    <div>6.5
                    </div>
                </div>
                <div class="col-sm-2">
                    <div style="font-weight: bold">Writing</div>
                    <div>6.0
                    </div>
                </div>
                <div class="col-sm-2">
                    <div style="font-weight: bold">Speaking</div>
                    <div>7.0
                    </div>
                </div>

            </div>
        </div>


        <p>Your IELTS Test Centre will send you your Test Report Form (TRF) to your postal address. If you have taken the computer-delivered IELTS test, we will post your TRF 5-7 days after your test date. If you take the IELTS paper-based test, we will
            post your TRF 13 calendar days after your test date. Please note the preview of your IELTS result cannot be used as official confirmation of your test result.</p>


        <div class="row" style="padding-bottom: 10px;">
            <div class="col-sm-12">
                <div class="col-sm-2 overall">
                    <div class="overall-header" style="font-weight: bold; ">Overall Band Score</div>
                    <div class="text">6.5</div>
                </div>
                <div class="col-sm-2 overall">
                    <div class="overall-header" style="font-weight: bold;">&nbsp;</div>
                    <div class="text">
                        <p><strong>Competent User</strong></p>
                        <p><strong>&nbsp;</strong></p>
                    </div>
                </div>
                <div class="col-sm-8 overall">
                    <div class="overall-header" style="font-weight: bold;">&nbsp;</div>
                    <div class="text">
                        <p>The test taker has an effective command of the language despite some inaccuracies, inappropriate usage and misunderstandings. They can use and understand fairly complex language, particularly in familiar situations.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sub" style="padding-bottom: 10px;">
            <div class="col-sm-12">
                <div class="col-sm-2 overall">
                    <div class="overall-header dynamic">Test</div>
                    <div class="text">Speaking</div>
                </div>
                <div class="col-sm-2 overall">
                    <div class="overall-header dynamic" style="font-weight: bold; ">Score</div>
                    <div class="text">7.0</div>
                </div>
                <div class="col-sm-4 overall">
                    <div class="overall-header dynamic" style="font-weight: bold;">Your score explained</div>
                    <div class="text">
                        <p>Test takers at this band can typically speak with ease, clearly and at length, although with some repetition, self-correction, or hesitation to search for words or grammar. Speaking is generally well-organised, and ideas are generally
                            clear and well linked. They use a range of vocabulary to discuss a variety of topics, and can use some less common or idiomatic vocabulary, although not always accurately. They can paraphrase well if needed. They can use a
                            range of grammar structures. Sentences are frequently accurate, although there are some errors. Pronunciation is generally natural and clear, but with occasional problems. They are usually easy to understand, and their accent
                            does not have much effect on understanding.</p>
                    </div>
                </div>
                <div class="col-sm-4 overall">
                    <div class="overall-header dynamic" style="font-weight: bold;">Advice to improve your score</div>
                    <div class="text">
                        <p>Talk to other people about abstract and difficult current issues. Focus on delivering your ideas well in presentations and discussions, minimising hesitation as much as possible. Ask yourself: Am I arranging and conveying my thoughts
                            in the best possible way? Am I using the best possible words and phrases that I know to express my ideas? How can I vary my delivery so that my ideas are understood better? Then work on those things you’re not completely happy
                            with yet.</p>
                        <p>&nbsp;</p>
                        <p>Continue reading and listening to natural English language materials and TV to note precise words and particularly effective ways of saying things. Think about how you might use these yourself.</p>
                        <p>&nbsp;</p>
                        <p>Continue reading and listening to natural English language materials and TV to note precise words and particularly effective ways of saying things. Think about how you might use these yourself.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sub" style="padding-bottom: 10px;">
            <div class="col-sm-12">
                <div class="col-sm-2 overall">
                    <div class="overall-header dynamic">Test</div>
                    <div class="text">Reading</div>
                </div>
                <div class="col-sm-2 overall">
                    <div class="overall-header dynamic" style="font-weight: bold; ">Score</div>
                    <div class="text">6.5</div>
                </div>
                <div class="col-sm-4 overall">
                    <div class="overall-header dynamic" style="font-weight: bold;">Your score explained</div>
                    <div class="text">
                        <p>Test takers at Band 6.5 can typically deal with a range of factual and opinion-based texts that may be relatively complex and dense with information. They are good at using their vocabulary knowledge to create meaning, both within
                            and across sentences, on a range of general topics and some specialised ones. They can understand implied meanings, and have some ability to understand somewhat complex opinions and arguments. They can generally use reading
                            strategies such as skimming and scanning, and can generally synthesize information and draw inferences.</p>
                    </div>
                </div>
                <div class="col-sm-4 overall">
                    <div class="overall-header dynamic" style="font-weight: bold;">Advice to improve your score</div>
                    <div class="text">
                        <p>Try to read different types of texts, including general and academic texts, and not just in your subject area. In general interest articles, the main point may come in a different place than you expect. In academic texts there
                            will be fewer opinions, or they may be harder to spot. On the other hand, they can be dense with information. Be aware of the differences, and adjust the reading strategies you use depending on the text you’re reading. Decide
                            when to read carefully and when to read quickly. In any case, you may want to give yourself a set amount of time, so that even your careful reading is done more quickly and efficiently.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sub" style="padding-bottom: 10px;">
            <div class="col-sm-12">
                <div class="col-sm-2 overall">
                    <div class="overall-header dynamic">Test</div>
                    <div class="text">Writing</div>
                </div>
                <div class="col-sm-2 overall">
                    <div class="overall-header dynamic" style="font-weight: bold; ">Score</div>
                    <div class="text">6.0</div>
                </div>
                <div class="col-sm-4 overall">
                    <div class="overall-header dynamic" style="font-weight: bold;">Your score explained</div>
                    <div class="text">
                        <p>Test takers at this band can typically address all parts of the question, some more fully than others.</p>
                        <p>(AC) They can give an overview.</p>
                        <p>(GT) The letter has a generally clear purpose; the tone is sometimes not consistent.</p>
                        <p>Key features and bullet points are covered. The point of view and main ideas are relevant but the conclusion(s) may be unclear. Some details might be irrelevant or wrong. Test takers can arrange their ideas logically, so that the
                            writing has a clear progression from start to finish. They are able to use some linking words well, but others with mistakes. They can paragraph their Task 2 writing, although not always logically. They have enough vocabulary
                            to answer the question. They try to use some less common words. They make some spelling mistakes, but the reader can still understand. They can write a mix of simple and complex sentences. The grammar and punctuation mistakes
                            do not usually cause difficulty for the reader.</p>
                    </div>
                </div>
                <div class="col-sm-4 overall">
                    <div class="overall-header dynamic" style="font-weight: bold;">Advice to improve your score</div>
                    <div class="text">
                        <p>Practice writing to give information and make arguments. Make sure you cover all the points that need to be covered, providing supporting ideas and details. Reread your work and see if you can make your points clearer. Is the ordering
                            of your ideas logical? Sometimes, rearranging them can make things clearer. You can also try joining up or separating sentences, using the right connecting devices, and changing where you divide your paragraphs. Continue to
                            develop your vocabulary. Words can be similar in meaning but differ in formality, in their tone, and in their implications. Focus on learning the best words to use for the writing task, the situation, and what you want to say.
                            Challenge yourself by producing sentences that are more complex. If you make mistakes with them, don't worry too much; just check and see how you can fix them.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sub" style="padding-bottom: 10px;">
            <div class="col-sm-12">
                <div class="col-sm-2 overall">
                    <div class="overall-header" style="font-weight: bold;">Test</div>
                    <div class="text">Listening</div>
                </div>
                <div class="col-sm-2 overall">
                    <div class="overall-header" style="font-weight: bold; ">Score</div>
                    <div class="text">6.0</div>
                </div>
                <div class="col-sm-4 overall">
                    <div class="overall-header" style="font-weight: bold;">Your score explained</div>
                    <div class="text">
                        <p>Test takers at Band 6 can typically follow extended speech and understand detailed instructions. They can generally understand directly-stated facts, attitudes, opinions and purposes. They can also generally pick out main ideas,
                            and relevant and irrelevant information; and can also generally infer implied meanings. They can do this without having to process individual words and structures and can remember enough of what they have heard to understand
                            references such as pronouns. They can understand most vocabulary relating to a range of topics, including some terms typical of academic English.</p>
                    </div>
                </div>
                <div class="col-sm-4 overall">
                    <div class="overall-header" style="font-weight: bold;">Advice to improve your score</div>
                    <div class="text">
                        <p>Continue to develop your vocabulary by reading widely. Listen to as much English as you can so that your understanding becomes more automatic. Listen to longer recordings such as interviews and films, with and without English subtitles,
                            pausing and repeating the recording when necessary. Note the words you didn’t understand immediately, so you can review them.</p>
                        <p>&nbsp;</p>
                        <p>Try to understand those times when the speakers don’t directly say what they mean. What are the clues you use to understand these in your own language? Use the same strategy to understand them in English.</p>
                    </div>
                </div>
            </div>
        </div>

        <p>
            Disclaimer: Your results available online are not official. They are provisional until you receive your official Test Report Form (TRF).
        </p>
        <p>
            Your test centre or the IELTS partners will not accept any responsibility in the event that your result fails to display here, whether due to technical fault or administrative procedures.
        </p>

        <p>Please note that feedback and advice are currently available only to test takers in Australia. This is a pilot project to help shape the content of feedback and advice that will become available globally at a later stage of the project. The provision
            of this feedback and advice is to be used for guidance only.</p>
        <p>TrfNumber: 20IN005415KONS525A</p>
        <p>
            Provisional IELTS Results brought to you by IDP IELTS Australia
        </p>
        <div>
            <div></div>
        </div>

    </div>
    <style>
        @media screen and (min-width: 768px) {
            .overall-header.dynamic {
                display: none;
                visibility: hidden;
            }
        }
        
        @media screen and (max-width: 767px) {
            .overall-header.dynamic {
                display: block;
                visibility: visible;
            }
            .row .col-sm-12,
            .row.sub .col-sm-12 {
                padding: 0px;
            }
            .row.sub .col-sm-12,
            .row.sub .col-sm-12 {
                padding: 0px;
            }
        }
        
        @media screen {
            #printSection {
                display: none;
                font-size: 24px;
            }
        }
        
        @media print {
            body>*:not(#printSection) {
                display: none;
            }
            #printSection,
            #printSection * {
                visibility: visible;
                overflow: visible;
            }
            .modal-dialog.has-feedback {
                display: none;
            }
            #printSection {
                position: absolute;
                left: 0;
                top: 0;
            }
            @page {
                size: landscape;
            }
        }
    </style>


    <script type="text/javascript">
        //function printDiv(div) {
        //    // Create and insert new print section
        //    var elem = document.getElementById(div);
        //    var domClone = elem.cloneNode(true);
        //    var $printSection = document.createElement("div");
        //    $printSection.id = "printSection";
        //    $printSection.appendChild(domClone);
        //    document.body.insertBefore($printSection, document.body.firstChild);

        //    window.print();

        //     //Clean up print section for future use
        //    var oldElem = document.getElementById("printSection");
        //    if (oldElem != null) {
        //        oldElem.parentNode.removeChild(oldElem);
        //    }
        //    //oldElem.remove() not supported by IE
        //    return true;
        //}

        //jQuery(document).bind("keyup keydown", function (e) {
        //    if (e.ctrlKey && e.keyCode == 80) {
        //        printDiv('print-me');
        //    }
        //});
    </script>
</div>