* {
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

thead {}

table {
    padding: 10px;
    color: white;
    /* background-color: white; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    transform: scale(1, 2);
}

#top {
    color: rgb(255, 115, 0);
}

#among {
    color: aqua;
}

#bottom {
    vertical-align: sub;
    color: rgb(157, 255, 0);
}

thead th {
    color: white;
    background-color: rgb(133, 133, 133);
}

th,
td {
    padding: 5px;
}

hr {
    background-color: white;
}

#stats {}